body {
    font-family: sans-serif;
}
header {
    background : blue;
    color : white;
}
h1 {
    color: chocolate;
}
footer p {
    color:white ;
    background-color:navy ;
}
nav a {
color: white ;
background-color:chocolate;
text-decoration: none;
font-size: 20px;
}
p {
background-color:navajowhite ;
color: chocolate;
}
h2 {
    background-color:crimson;
    color: cornsilk;
}

main img {
    background-color:crimson;
    color: white;
}

